.weather--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgba(246, 246, 246, 0.33);
    min-height: 100vh;
}